body {
    background-color: lightblue;
}

.list-group-item-heading {
    white-space: nowrap;
}

.jumbotron.sm {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar.sharp {
    border-radius: 0;
    margin-bottom: 0;
}

.box {
    -o-text-overflow: ellipsis; /* Opera */
    text-overflow: ellipsis; /* IE, Safari (WebKit) */
    overflow: hidden; /* don't show excess chars */
    white-space: nowrap; /* force single line */
}

.btn-right {
    padding-right: 10px;
    text-align: right;
}

.txt-price {
    color: #0080FF;
}

div.row {
    vertical-align: middle;
}

.modal-body {
    max-height: 700px;
    overflow-y: scroll;
}

.page {
    font-size: 20px;
}