<html>
<head>
    <title>{% block webtitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mystyles.css') }}"/>
    <script src="{{ url_for('static', filename='javascripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/bootstrap.min.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-inverse sharp">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Über siroop</a></li>
                <li class="active"><a href="#">Sortiment</a></li>
                <li><a href="#">Händler werden</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Konto</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Warenkorb</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron sm">
    <div class="container text-center">
        <h1>{% block title %}{% endblock %}</h1>
        <p>Sortiment, Händler, Marken und Inspiration</p>
    </div>
</div>

{% block content %}{% endblock %}
</body>
</html>
