<!-- extend base layout -->
{% extends "base.html" %}
{% block webtitle %} {{ title }} {% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        <div id="products" class="row list-group">
            {% for product in products.items %}
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" id="myPicture-{{ product.id }}" alt="Image not found"
                             src="{{ url_for('static', filename=random_image_path()) }}"/>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading box">{{ product.name }}</h4>
                            <p class="group inner list-group-item-text box">
                                {{ product.shortDescription }}</p>
                            <p class="group inner list-group-item-text box">
                                {{ product.category }}</p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 txt-price">
                                    <p class="lead">${{ product.price }}</p>
                                </div>
                                <div class="col-xs-12 col-md-6 btn-right">
                                    <button type="button" class="btn btn-info btn-lg displayButton" data-toggle="modal"
                                            data-target="#productModal" data-id="{{ product.id }}">Display
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="productModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if products.has_prev %}<a class="page" href="{{ url_for('index', page=products.prev_num) }}"> &lt;&lt; Previous</a>
        {% else %} &lt;&lt; Previous {% endif %} |
        {% if products.has_next %}<a class="page" href="{{ url_for('index', page=products.next_num) }}"> Next &gt;&gt;</a>
        {% else %} Next &gt;&gt; {% endif %}

    </div>
    <script>
        $(document).ready(function () {
            $('.displayButton').on('click', function () {
                var id = $(this).attr('data-id');
                $("#productModal").find(".modal-content").load('/display/' + id);
                $("#productModal").show();
            });
        });

    </script>
{% endblock %}





