<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title" name='name'> {{ product.name }} </h4>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td> {{ product.name }} </td>
        </tr>
        <tr>
            <td>Price</td>
            <td> {{ product.price }} </td>
        </tr>
        <tr>
            <td>Short description</td>
            <td> {{ product.shortDescription | safe }} </td>
        </tr>
        <tr>
            <td>Long description</td>
            <td> {{ product.description | safe }} </td>
        </tr>
        {% for feature in product.features %}
            <tr>
                <td> {{ feature.label }} </td>
                <td> {{ feature.value }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>